/*
 * Load Font
 */

/*
 * Roboto Light
 */

@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Light-webfont.eot');
  src: url('/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Light-webfont.woff') format('woff'), url('/fonts/Roboto-Light-webfont.ttf') format('truetype'), url('/fonts/Roboto-Light-webfont.svg#icon') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*
 * Roboto Regular
 */

@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Regular-webfont.eot');
  src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Regular-webfont.woff') format('woff'), url('/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('/fonts/Roboto-Regular-webfont.svg#icon') format('svg');
  font-weight: 400;
  font-style: normal;
}

/*
 * Roboto Medium
 */

@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Medium-webfont.eot');
  src: url('/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Medium-webfont.woff') format('woff'), url('/fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('/fonts/Roboto-Medium-webfont.svg#icon') format('svg');
  font-weight: 500;
  font-style: normal;
}

/*
 * Roboto Bold
 */

@font-face {
  font-family: roboto;
  src: url('/fonts/Roboto-Bold-webfont.eot');
  src: url('/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Bold-webfont.woff') format('woff'), url('/fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('/fonts/Roboto-Bold-webfont.svg#icon') format('svg');
  font-weight: 700;
  font-style: normal;
}

*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}

body {
    padding-top: 55px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #5e5e5e;
    font-weight: 400;
    background-attachment: fixed;
    background-color: #f8f8f8;
    font-family: roboto, sans-serif;
}

body > div.container {
    min-height: 400px;
}

ul.nav li.main {
    font-weight: bold;
}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

div.col-md-9 img {
    max-width: 100%;
    display: inline;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto 30px auto;
}

h1, h2, h3 {
    color: #444;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
    pointer-events: none;
}

h1 {
    font-weight: 400;
    font-size: 42px;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
}

hr {
    border-top: 1px solid #aaa;
}

pre, .rst-content tt {
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    color: #e74c3c;
    overflow-x: auto;
}

code.code-large, .rst-content tt.code-large {
    font-size: 90%;
}

code {
    padding: 2px 5px;
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: 75%;
}

code, kbd, pre, samp  {
    font-family: monospace,serif;
    font-size: 12px !important;
}

footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
}

.modal-dialog {
    margin-top: 60px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
    max-height: 90%;
    overflow-y: auto;
}

/* First level of nav */
.bs-sidenav {
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
    display:inline-block;
}



.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*
 * Styles for header
 */
#header {
    background-color: #fff;
    border-top: 2px solid rgba(10, 54, 119, 0.7);
    border-bottom: 1px solid #e4e5e7;
    height: 55px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    padding-right: 10px;
    top: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header:not(.sidebar-toggled).header-up {
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
}

#header .navbar-nav li>a {
    color: #85878A;
    font-weight: normal;
    font-family: roboto, sans-serif;
}

#header .navbar-nav>li>a {
    height: 52px;
    font-size: 17px;
    text-transform: lowercase;
    font-variant: small-caps;
}

#header .nav>li>a:hover,
#header .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(244, 244, 244, 1.0);
}

#header .nav>li.disabled>a {
    color: #ddd;
}

#header .nav>li.disabled>a:hover,
#header .nav>li.disabled>a:focus {
    background-color: #fff;
}

.header-inner {
    list-style: none;
    padding: 0;
}

.header-inner > li:not(.pull-right) {
    float: left;
}

.header-inner .logo {
    vertical-align: middle;
    padding: 9px 0;
    margin-right: 5px;
}

.header-inner .logo a {
    display: inline-block;
    width: 140px;
    height: 30px;
    background: url(/img/exabyte-logo-without-slogan-blue.png) 0 -5px no-repeat;
    background-size: cover;
    padding: 0px;
    margin-left: 19px;
}

@media (max-width: 1200px) {
    .header-inner .logo a {
        margin-left: 0;
    }
}

#menu-trigger {
    width: 65px;
    height: 35px;
    cursor: pointer;
    padding: 9px 0;
}

#menu-trigger .line-wrap .line {
    background-color: #fff;
}

#menu-trigger:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 0;
}

#menu-trigger.open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.line-wrap {
    width: 18px;
    height: 12px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    margin: 10px 20px;
}

#menu-trigger .line-wrap .line {
    background-color: #9d9fa2;
}

.line-wrap .line {
    width: 18px;
    height: 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.line-wrap .line.center {
    margin: 3px 0;
}

#menu-trigger.open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#menu-trigger:before {
    background: rgba(244, 244, 244, 1.0);
    top: 4px;
}

.open .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.open .line-wrap .line.top {
    width: 12px;
    transform: translateX(8px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
    width: 12px;
    transform: translateX(8px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}

@media (min-width: 1200px) {
    .sw-toggled #menu-trigger {
        display: none;
    }
}

/*
 * Styles for sidebar
 */
#sidebar {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    top: 55px;
    height: calc(100% - 55px);
    -webkit-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
    z-index: 5;
    width: 210px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

#sidebar .sidebar-inner {
    height: 100%;
    overflow-y: auto;
    width: 210px;
    overflow: hidden;
}

#sidebar.toggled {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
}

/*
 * Full width layout
 */

body:not(.sw-toggled) #sidebar {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}

@media (min-width: 1200px) {
    body.sw-toggled #sidebar {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 1200px) {
    body.sw-toggled #sidebar {
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    }
}

.main-menu {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 0 0;
}

.main-menu > li > a {
    padding: 14px 20px;
    display: block;
    color: #4C4C4C;
    font-weight: 500;
    position: relative;
}

.main-menu > li > a:hover {
    color: #262626;
    background-color: #f7f7f7;
    text-decoration: none;
}

.main-menu > li > a > i {
    position: absolute;
    left: 16px;
    font-size: 20px;
    top: 0;
    width: 25px;
    text-align: center;
    padding: 13px 0;
}

.main-menu > li.sub-menu > a:before,
.main-menu > li.sub-menu > a:after {
    position: absolute;
    top: 12px;
    color: #575757;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 17px;
    right: 15px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.main-menu > li.sub-menu > a:before {
    content: "\f278";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.main-menu > li.sub-menu > a:after {
    content: "\f273";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.main-menu > li.sub-menu.toggled > a:before {
    content: "\f278";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.main-menu > li.sub-menu.toggled > a:after {
    content: "\f273";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.main-menu > li.sub-menu > ul {
    list-style: none;
    display: none;
    padding: 0;
}

.main-menu > li.sub-menu > ul > li > a {
    color: #7f7f7f;
    padding: 8px 20px 8px 50px;
    font-weight: 500;
    display: block;
}

.main-menu > li.sub-menu > ul > li > a.active,
.main-menu > li.sub-menu > ul > li > a:hover {
    color: #000;
}

.main-menu > li.sub-menu > ul > li:first-child > a {
    padding-top: 14px;
}

.main-menu > li.sub-menu > ul > li:last-child > a {
    padding-bottom: 16px;
}

.main-menu > li.sub-menu.active > ul {
    display: block;
}

.main-menu > li.active > a {
    color: #262626;
    background-color: #F4F4F4;
}

/*
 * Styles for content
 */

#main {
    position: relative;
}

body #content {
    padding: 30px 0;
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding: 15px 0 30px 210px;
    }
}

@media (min-width: 1200px) {
    body.sw-toggled #content > .container {
        width: calc(100% - 30px);
    }
}

@media (min-width: 1200px) {
    body.sw-toggled-without-menu #content > .container {
        width: calc(100% - 30px);
    }
}

/*
 * Styles for content
 */

@media (min-width: 1199px) {
    body.sw-toggled #footer {
        padding-left: 210px;
    }
}

.dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 1px;
}

.dropdown-menu > li > a {
    padding: 8px 17px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    font-family: roboto;
}

.dropdown-menu.dropdown-menu-lg {
    width: 300px;
}

.dropdown-menu.dropdown-menu-sm {
    width: 150px;
}

.dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu.dropdown-menu-right > li > a {
    text-align: right;
}

.dropdown-menu.dm-icon > li > a > .zmdi {
    line-height: 100%;
    vertical-align: top;
    font-size: 18px;
    width: 28px;
}

.dropdown-menu:not([class*="bgm-"]) > li > a {
    color: #4C4C4C;
}

.dropdown-menu:not([class*="bgm-"]) > li > a:hover {
    color: #000;
}

.dropdown-menu[class*="bgm-"] > li > a {
    font-weight: 300;
    color: #fff;
}

.dropdown:not([data-animation]) .dropdown-menu,
.btn-group:not([data-animation]) .dropdown-menu {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
}

.dropdown .dropdown-menu:not([data-animation]).pull-right,
.bootstrap-select .dropdown-menu:not([data-animation]).pull-right,
.btn-group .dropdown-menu:not([data-animation]).pull-right,
.dropdown .dropdown-menu:not([data-animation]).dropdown-menu-right,
.bootstrap-select .dropdown-menu:not([data-animation]).dropdown-menu-right,
.btn-group .dropdown-menu:not([data-animation]).dropdown-menu-right {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.dropdown .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right),
.bootstrap-select .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right),
.btn-group .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.dropup .dropdown-menu:not([data-animation]).pull-right,
.dropup .dropdown-menu:not([data-animation]).dropdown-menu-right {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
}

.dropup .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.dropdown.open .dropdown-menu:not([data-animation]),
.dropup.open .dropdown-menu:not([data-animation]),
.bootstrap-select.open .dropdown-menu:not([data-animation]),
.btn-group.open .dropdown-menu:not([data-animation]) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-header {
    padding: 3px 17px;
    margin-top: 10px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: normal;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.08);
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #333333;
    text-decoration: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #e4e4e4;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}

.card .card-header {
    position: relative;
}

@media screen and (min-width: 768px) {
    .card .card-body.card-padding {
        padding:23px 26px
    }
}

@media screen and (max-width: 991px) {
    .card .card-body.card-padding {
        padding:18px
    }
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;

}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid transparent;
    min-height: #0f0f0f;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: transparent;
}

.modal-body {
    position: relative;
    padding: 15px;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent;
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.form-control:not(.fc-alt) {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 5px;
}

.fg-line:not(.disabled):after, .fg-line:not(.readonly):after {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.fg-line {
    position: relative;
    vertical-align: top;
}

.fg-line.fg-toggled:after {
    width: 100%;
}

.fg-line:not([class*=has-]):after {
    background: #2196f3;
}

a {
    color: #2196f3;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 20px;
    margin: 0 0 9px;
}

h2 {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    font-family: roboto, sans-serif;
}

@media (min-width: 768px) {
    h2 {
        font-size: 19.5px;
    }
}
