*site/
.DS_Store
.idea
.virtualenv*
.venv*
/venv*
/**/__pycache__
tmp/
py-googletrans
oauth-key.json
oauth-credentials.json
service-account-key.json
*.py[cod]

# ignore media files in scripts folder
scripts/*.mp3
scripts/*.mp4

# Pyenv
.python-version
