backports-abc==0.5
cachetools==3.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
enum34==1.1.10
exabyte-json-include==2020.10.19
google-api-core==2.16.2
google-api-python-client==1.7.8
google-auth==2.27.0
google-auth-httplib2==0.0.4
google-cloud-texttospeech==2.16.0
googleapis-common-protos==1.62.0
grpcio==1.60.1
grpcio-status==1.60.1
httplib2==0.19.0
idna==2.10
Jinja2==2.11.3
livereload==2.6.3
Markdown==3.3.7
markdown-include @ git+https://github.com/Exabyte-io/markdown-include.git@de31927acdeeff7972e09f4a6327030bd10535f2
MarkupSafe==1.1.1
mkdocs==1.3.1
mkdocs-material==4.6.3
oauth2client==4.1.3
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.0
pymdown-extensions==6.3
pyparsing==2.4.7
pytz==2020.5
PyYAML==5.3.1
requests==2.31.0
rsa==4.7
singledispatch==3.4.0.3
six==1.15.0
tornado==5.1.1
uritemplate==3.0.1
urllib3==1.26.5
