mkdocs==0.16.2
Markdown==2.6.11
pymdown-extensions==4.12
git+git://github.com/Exabyte-io/json_include.git#egg=json_include
git+git://github.com/Exabyte-io/markdown-include.git@00e3d15d3fa910f85b29d8c9a6775d4c9edcab83#egg=markdown_include
