p + h1,
pre + h1,
ul + h1,
blockquote + h1,
ol + h1 {
    margin: 40px 0 20px 0;
}

p + h2,
pre + h2,
ul + h2,
blockquote + h2,
ol + h2 {
    margin: 30px 0 10px 0;
}

p + h3, p + h4,
pre + h3, pre + h4,
ul + h3, ul + h4,
blockquote + h3, blockquote + h4,
ol + h3, ol + h4 {
    margin: 20px 0 10px 0;
}

p, :not(footer.p) {
    line-height: 24px;
}

li > p {
    margin: 0;
    line-height: 18px;
}

.card-body ul {
    margin: 15px 0 15px 0;
    line-height: 24px;
}
