.section {
    text-align: justify;
}

/* adjust margins for nested lists */
.section > ul > li > ul > li:last-child {
    margin-bottom: 20px;
}

/*
 * Adjust margins for numbered lists
 * Ignore `#links` items
 */
.section > ol > li:not(:last-child) {
    margin-bottom: 0px;
}

.section #links ~ ol > li {
    margin-bottom: 0px;
}

.section > ol > li:last-child {
    margin-bottom: 25px;
}
