/* --------------------------------------------------------- *
 *                  BURGER AND MENU SMALL SCREEN
 * --------------------------------------------------------- */
.wy-nav-top {
    /*background: #343131;*/
    background: #0A3677;
}

.wy-nav-top i {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 0px;
}

.wy-nav-top img {
    display: inherit;
    width: 160px;
    margin-left: -20px;

}

/* --------------------------------------------------------- *
 *                  SEARCH-BAR
 * --------------------------------------------------------- */


.wy-side-nav-search,
.wy-side-nav-search img {
    background-color: transparent;
}

.wy-nav-side {
    background: #1b345b;
}

.rst-versions {
    border-top: 1px solid #555;
    background: #0A3677;
}

.rst-versions .rst-current-version {
    /*padding: 8px;*/
    background: #0A3677;
}

.wy-nav-top img,
.wy-side-nav-search img {
    display: inherit;
    margin: 0;
    height: inherit;
    width: inherit;
    background-color: transparent;
    padding: 0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.wy-side-nav-search {
    position: fixed;
    margin-bottom: 0;
    padding-top: 0px;
    width: inherit;
    background: #343131;
    border-bottom: 1px solid #555;
    background: #0A3677;
    width: 300px;
}

.wy-side-nav-search img {
    width: 200px;
}

.wy-side-scroll {
    width: 320px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.wy-menu.wy-menu-vertical {
    margin-top: 104px;
}

.wy-menu-vertical li ul li a {
    color: #ddd;
}

.wy-menu-vertical a:visited {
    /*color: #0A3677;*/
    color: rgba(137, 167, 210, 0.1);
}

@media screen and (max-width: 768px) {
    .wy-nav-side.shift {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .wy-nav-content-wrap.shift {
        left: 300px;
    }
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 860px;
    margin: auto;
}

.wy-nav-top img, .wy-side-nav-search a:hover, .wy-side-nav-search img:hover {
    background-color: transparent;
}

.wy-nav-top img, .wy-side-nav-search > a:hover {
    background: none;
}

.wy-nav-top img, .wy-side-nav-search > a {
    padding: 0;
    margin: 0;
}

/* search box input */
#rtd-search-form {
    padding-right: 15px;
    padding-left: 12px;
}

.wy-side-nav-search input[type=text] {
    border: none;
    /*padding: 10px 12px;*/
}

.wy-menu-vertical span.caption-text {
    color: #fff;
}

.wy-nav-content-wrap {
    border-left: 1px solid #ccc;
}

