<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-body card-padding">
                {% if meta.source %}
                <div class="source-links">
                {% for filename in meta.source %}
                    <span class="label label-primary">{{ filename }}</span>
                {% endfor %}
                </div>
                {% endif %}

                {{ content }}
            </div>
        </div>
    </div>
</section>


