*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.42857143;
    color: #5e5e5e;
    font-weight: 300;
    background-attachment: fixed;
    background-color: #f8f8f8;
}

details {
    color: #1b345b;
}

iframe {
    width: 100%;
    height: 60vh;
    border: none;
    margin-bottom: 10px;
}

h1 {font-size: 150%}
h2 {font-size: 135%}
h3 {font-size: 120%}
h4 {font-size: 110%}
h5 {font-size: 105%}
h6 {font-size: 100%}

.section {
    text-align: justify;
}

/* adjust margins for nested lists */
.section > ul > li > ul > li:last-child {
    margin-bottom: 20px;
}

/*
 * Adjust margins for numbered lists
 * Ignore `#links` items
 */
.section > ol > li:not(:last-child) {
    margin-bottom: 15px;
}
.section #links ~ ol > li {
    margin-bottom: 0px;
}
.section > ol > li:last-child) {
    margin-bottom: 25px;
}


a:visited {
    color: #999;
}

.rst-content img,
.rst-content .giffer {
    margin-bottom: 50px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.31);
    border-radius: 5px;
    border: 1px solid #AAA;
    padding: 2px;
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.giffer {
    border: 1px solid #AAA !important;
}

/* --------------------------------------------------------- *
 *                  Paragraph/list
 * --------------------------------------------------------- */
p + h1, p + h2, p + h3, p + h4,
pre + h1, pre + h2, pre + h3, pre + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4 {
    margin: 30px 0 10px 0;
}

p, :not(footer.p) {
    line-height: 24px;
}

li > p {
    margin: 0;
    line-height: 18px;
}

.card-body ul {
    margin: 15px 0 15px 0;
    line-height: 24px;
}

/* --------------------------------------------------------- *
 *                  Source code
 * --------------------------------------------------------- */
pre {
    background-color: #F9F9F9;
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

p + pre, ul + pre {
    margin-top: 10px;
}

.wy-side-nav-search,
.wy-side-nav-search img {
    background-color: transparent;
}

/* --------------------------------------------------------- *
 *                  LOGO AND SIDEBAR
 * --------------------------------------------------------- */
.wy-nav-side {
    // background: rgba(10, 54, 119, 0.6);
    background: #1b345b;
}

.rst-versions {
    border-top: 1px solid #555;
    background: #0A3677;
}

.rst-versions .rst-current-version {
    /*padding: 8px;*/
    background: #0A3677;
}

.wy-nav-top img,
.wy-side-nav-search img {
    display: inherit;
    margin: 0;
    height: inherit;
    width: inherit;
    background-color: none;
    padding: 0px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.wy-side-nav-search {
    position: fixed;
    margin-bottom: 0;
    padding-top: 0px;
    width: inherit;
    background: #343131;
    border-bottom: 1px solid #555;
    background: #0A3677;
    width: 300px;
}

.wy-side-nav-search img {
    width: 200px;
}

.wy-side-scroll {
    width: 320px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.wy-menu.wy-menu-vertical {
    margin-top: 104px;
}

.wy-menu-vertical li ul li a {
    color: #ddd;
}

.wy-menu-vertical a:visited {
    /*color: #0A3677;*/
    color: rgba(137, 167, 210, 0.1);
}

.wy-menu-vertical li ul li a:hover,
.wy-menu-vertical li.toctree-l1 a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
    .wy-nav-side.shift {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .wy-nav-content-wrap.shift {
        left: 300px;
    }
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 860px;
    margin: auto;
}

.wy-nav-top img, .wy-side-nav-search a:hover, .wy-side-nav-search img:hover {
    background-color: none;
}

.wy-nav-top img, .wy-side-nav-search > a:hover {
    background: none;
}

.wy-nav-top img, .wy-side-nav-search > a {
    padding: 0;
    margin: 0;
}

/* search box input */
#rtd-search-form {
    padding-right: 15px;
    padding-left: 12px;
}

.wy-side-nav-search input[type=text] {
    border: none;
    /*padding: 10px 12px;*/
}

.wy-menu-vertical span {
    color: #fff;
    font-weight: 600;
}

/* --------------------------------------------------------- *
 *                  BURGER AND MENU SMALL SCREEN
 * --------------------------------------------------------- */
.wy-nav-top {
    /*background: #343131;*/
    background: #0A3677;
}

.wy-nav-top i {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 0px;
}

.wy-nav-top img {
    display: inherit;
    width: 160px;
    margin-left: -20px;

}

/* --------------------------------------------------------- *
 *                  BLOCKQUOTE
 * --------------------------------------------------------- */
.rst-content blockquote {
    margin-left: 30px;
    border-left: 5px solid #EFEFF0;
    padding-left: 2em;
    width: 80%;
    margin-top: 20px;
    color: #999;
}

/* --------------------------------------------------------- *
 *                  NAV COLLAPSE FIRST LEVEL
 * --------------------------------------------------------- */
.wy-menu ul.subnav {
    cursor: pointer;
}

ul.subnav.active .zmdi {
    color: white;
}

/* Font awesome icon */
ul.subnav .zmdi {
    margin: 0px 10px;
    font-size: 14px;
    color: gray;
    display: none;

}

ul.subnav li.toctree-l1 {
    display: none;
}

/* --------------------------------------------------------- *
 *                  GENERIC CLASSES
 * --------------------------------------------------------- */
.text-muted {
    color: #5e5e5e;
}

/* --------------------------------------------------------- *
 *                  BREADCRUMBS
 * --------------------------------------------------------- */
.wy-breadcrumbs {
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    font-weight: 700;
    font-size: 150%;
    padding: 4px 0;
}
.wy-breadcrumbs li:nth-last-of-type(2) {
    font-weight: 400;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

/* --------------------------------------------------------- *
 *                  NOTES
 * --------------------------------------------------------- */
.wy-alert-title, .rst-content .admonition-title, .rst-content .note .admonition-title {
    background-color: #3161A8;
}

.wy-alert-title, .rst-content .admonition-title, .rst-content .tip .admonition-title {
    background-color: #466d60;
}

.rst-content .tip {
    background:#ddf4ef;
}

/* --------------------------------------------------------- *
 *                  ADMONITIONS
 * --------------------------------------------------------- */
.admonition {
    border: solid 1px #e1e4e5;
}
