name: Update S3 deploy

on:
  push:
    branches:
      - "main"
      - "dev"
  schedule:
    - cron: "0 0 1 1 *"
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-24.04
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          lfs: true
          submodules: true

      - name: Set python 3 version
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Build pages
        uses: Exabyte-io/action-mkdocs-build@main

      - name: Deploy to Production (dev branch, old docs)
        if: github.ref == 'refs/heads/dev'
        uses: Reggionick/s3-deploy@v4
        with:
          folder: site
          bucket: docs.mat3ra.com
          bucket-region: ${{ secrets.S3_LOCATION }}
          dist-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          invalidation: /*
          no-cache: true
          private: true

      - name: Deploy to Development (main branch, new docs)
        if: github.ref == 'refs/heads/main'
        uses: Reggionick/s3-deploy@v4
        with:
          folder: site
          bucket: docs-new.mat3ra.com
          bucket-region: ${{ secrets.S3_LOCATION_1 }}
          dist-id: ${{ secrets.CLOUDFRONT_DEV_DISTRIBUTION_ID_1 }}
          invalidation: /*
          no-cache: true
          private: true
